.notif-table {
    background-color: #16a085;
    display: table;
    min-height: 80px;
    width: 100%;
    position: relative;
}

.notif-holder {
    padding: 15px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.notif-desc {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.notif-buttons {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 45px;
    z-index: 2;
}

.notif-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
}

/*.notif-buttons:after {
    background-color: #FEFFE5;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 15px;
    top: 40px;
}*/

.edit-notif, .trash-notif {
    width: 50px;
    height: auto;
    float: none;
    margin: 0px 10px;
    cursor: pointer;
}
.edit-notif {} .trash-notif {}