/* used for header titles*/
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#time-block {
	padding: 30px;
}


#first {
	background-color: #16a085;
	padding: 30px;
	font-weight: bold;
}

.time {
	float: left;
	font-size: 48px;
}

.smaller-time-holder {
	width: 280px;
	margin: 0 auto;
}

.trash, .edit {
	width: 40px;
	height: auto;
	float: right;
}

.edit {
	position: relative;
	top: -16px;
}

.trash {
	position: relative;
	bottom: -34px;
	right: -40px;
}

@media (min-width: 700px) {
	.app {
		width: 700px;
	}
}